<div id="<%= dom_id gig %>">
  <p class="my-5">
    <% if action_name != "show" %>
      <%= link_to gig.name, gig, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% else %>
      <%= gig.name %>
    <% end %>
  </p>
  <hr class="mt-6">
</div>
