<div id="<%= dom_id gig %>">
  <p class="my-5">
    <% if action_name != "show" %>
      <%= link_to gig.name, gig, class: "underline" %>
    <% else %>
      <%= gig.name %>
    <% end %>
  </p>
  <p>
    <%= gig.venue %>
  </p>
  <hr class="mt-6">
</div>
