<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="text-5xl">
    Eastbourne Gig Guide
  </h1>
  <hr class="-ml-2 mt-5">

  <div id="gigs" class="min-w-full">
    <% previous_gig = nil %>
    <% @gigs.each do |gig| %>
      <% if previous_gig.nil? || gig.date != previous_gig.date %>
        <h3 class="text-3xl mt-5">
          <%= gig.date&.strftime("%^a %-d %^b") %>
        </h3>
      <% end %>
      <% previous_gig = gig %>
      <%= link_to gig, class: "-ml-2 block bg-gray-100 hover:bg-gray-200 p-2 mt-5" do %>
        <%= render gig %>
      <% end %>
    <% end %>
  </div>
</div>
